<div class="container">
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <mat-card>
        <div class="my-4 mx-4">
          <div class="container text-center">
            <img
              src="../../../assets/logo.png"
              alt="logo"
              class="rounded-circle"
              style="
                width: 100px;
                height: 100px;
                object-fit: cover;
                border: 2px solid black;
              "
            />
          </div>
          <h1 class="text-center">Register Here!</h1>
          {{ loginData | json }}
          <form (ngSubmit)="formSubmit()">
            <!-- username field  -->
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Username</mat-label>
              <input
                required
                [(ngModel)]="loginData.username"
                name="username"
                matInput
                placeholder="Enter here"
              />
              <mat-hint>Valid Username</mat-hint>
            </mat-form-field>
            <!-- Password field  -->
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Password</mat-label>
              <input
                required
                name="password"
                [(ngModel)]="loginData.password"
                matInput
                type="password"
                placeholder="Enter here"
              />
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Login
              </button>
              <button
                mat-raised-button
                color="accent"
                style="margin-left: 20px"
              >
                Reset
              </button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
